

.full
{
    background-color: #00ab00;
	background-image: url("ice.jpg");
	height:100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro
{
	display: flex;
	justify-content:   space-evenly; 

	
	
}
.desc
{
	display: flex;
	justify-content: space-evenly;
    background-color: #0000ab;
}
#abt
{
 margin-left: 70px;
}